In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import cv2 as cv
from PIL import Image
import pickle

In [2]:
df=pickle.load(open('./DATA/dataframe_images_100_100.pickle','rb'))

In [3]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,male,68,69,66,66,69,69,67,68,66,...,33,30,40,29,32,34,48,41,38,34
1,male,10,10,7,10,18,2,1,6,8,...,80,105,117,106,82,59,46,33,19,5
2,male,129,127,125,123,117,107,95,91,95,...,60,69,69,58,60,80,76,89,123,139
4,male,51,55,62,57,53,62,85,108,124,...,164,163,158,163,168,171,173,176,181,187
5,male,0,8,1,26,65,50,50,45,82,...,192,191,191,192,193,191,189,190,191,192

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438 entries, 0 to 476
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 4.2+ MB

In [5]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

# Data Preprocessing
- Removing Missing Value
- Data Normalizing (min max scaling)

In [6]:
df.dropna(axis=0,inplace=True)

In [7]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [9]:
#Split the df into two parts
X=df.iloc[:,1:].values #independent value
Y=df.iloc[:,0].values # dependent

In [10]:
X.shape

(438, 10000)

# MIN MAX SCALING
## Xnorm = $\frac {x - minValue} {maxValue-minValue}$

In [14]:
X.min(),X.max()

(0, 255)

In [15]:
Xnorm=X/X.max()

In [16]:
Xnorm

array([[0.26666667, 0.27058824, 0.25882353, ..., 0.16078431, 0.14901961,
        0.13333333],
       [0.03921569, 0.03921569, 0.02745098, ..., 0.12941176, 0.0745098 ,
        0.01960784],
       [0.50588235, 0.49803922, 0.49019608, ..., 0.34901961, 0.48235294,
        0.54509804],
       ...,
       [0.00392157, 0.00392157, 0.00392157, ..., 0.51764706, 0.36470588,
        0.40784314],
       [0.7254902 , 0.72156863, 0.72156863, ..., 0.02352941, 0.03529412,
        0.02745098],
       [0.25882353, 0.27843137, 0.28235294, ..., 0.47058824, 0.42352941,
        0.37647059]])

In [17]:
Xnorm.shape

(438, 10000)

In [19]:
#female = 1 and male =0
y_norm=np.where(Y=='female',1,0)

In [20]:
#saving x and y
np.savez('./DATA/data_100_100_norm.npz',Xnorm,y_norm)